.header {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}
.table-container {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 300;
    display: flex;
  }
  
  .table-of-contents {
    position: fixed;
    transform: translate(140px, 0px); 
  }
  
  .table-of-contents h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .table-of-contents ul {
    list-style-type: none;
    padding: 0;
  }
  
  .table-of-contents li {
    margin-bottom: 5px;
  }
  
  .table-of-contents a {
    text-decoration: none;
    color: #333333;
  }
  
  .active {
    font-weight: 400;
    /* color: #FF8AA6; */
    text-decoration: underline;
  }
  
  .content {
    margin-left: 440px; /* Adjust this value according to the width of your table of contents */
    width: 800px;

  }
  
  .content h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #FF8AA6;
  }

  .content h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    width: 180px;
    border-radius: 0 30px 30px 0;
    color: white;
    background-color: #FF8AA6;
    display: flex;
    padding: 5px 15px;
    justify-content: left;
}
  
  .content p {
    font-size: 20px;
    line-height: 1.6;
  }

  .highlight-pink {
    color: #FF8AA6;
  }

  .highlight-gray {
    color: #666666;
    font-size: 18px;
  }

  .highlight-bold {
    font-weight: 400;
  }
  