.title-container {
    display: flex;
    justify-content: center;
    /* display: inline-block; */
}

.title-image {
    width: 1200px;
    position: absolute;
    justify-content: center;
}

.title-box {
    width: 1200px;
    height: 370px;
    display: flex;
    margin: 0 10vw;
}

.title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 85px;
    font-weight: 300;
    padding: 70px 100px;
    width: 800px;
    display: flex;
}

.box-container {
    /* width: 1200px; */
    /* margin: 0 10vw; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    transform: translate(0, -50px); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
  }

.box {
    width: 300px;
    height: 100px;
    margin: 0 40px;
    border-radius: 30px;
    border: 3px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#box1:hover {
    background-color: #D2E707;
    color: black;
}

#box2:hover {
    background-color: #FEB8FF;
    color: black;
}

#box3:hover {
    background-color: #FFF282;
    color: black;
}

.highlight {
    display: inline-block;
    padding: 0px 12px;
    border: 2px solid #FF8AA6;
    border-radius: 35px;
    margin: 6px 0px;
}

.highlight-reverse {
    display: inline-block;
    padding: 0px 12px;
    background-color: #FF8AA6;
    border: 2px solid #FF8AA6;
    color: white;
    border-radius: 35px;
    margin: 6px 0px;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    margin: 0 10vw;
    /* display: inline-block; */
}

.subtitle-textbox {
    width: 1200px;
    display: flex;
}

.subtitle {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 300;
}